@{
    ViewData["Title"] = "Privacidade";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <div class="card shadow mt-4">
        <div class="card-body">
            <h4>Política de Privacidade</h4>
            <p>
                O Sistema de Senhas de Almoço EPGE respeita a sua privacidade e está comprometido em proteger
                os seus dados pessoais.
            </p>

            <h5>Informações que recolhemos</h5>
            <ul>
                <li>Nome completo</li>
                <li>Endereço de email</li>
                <li>Informações de pagamento (carteira virtual)</li>
                <li>Histórico de marcações de refeições</li>
            </ul>

            <h5>Como utilizamos as suas informações</h5>
            <ul>
                <li>Gerir as suas marcações de senhas de almoço</li>
                <li>Processar pagamentos na carteira virtual</li>
                <li>Enviar notificações sobre as suas marcações</li>
                <li>Melhorar os nossos serviços</li>
            </ul>

            <h5>Segurança</h5>
            <p>
                Implementamos medidas de segurança adequadas para proteger as suas informações pessoais
                contra acesso não autorizado, alteração, divulgação ou destruição.
            </p>

            <h5>Contacto</h5>
            <p>
                Para questões sobre privacidade, contacte o administrador do sistema.
            </p>
        </div>
    </div>
</div>
